* {
	font-family: 'Lobster Two', cursive;
}

h1 {
	text-align: center;
	font-size: 70px;
}

#textArea {
	display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5%;

}

::-webkit-input-placeholder {
	color:red;
	font-size: 20px;
	text-align: center;
}

:placeholder-shown {
	color: blue;
	font-size: 20px;
	text-align: center;
}

#create {
	display:block;
	margin-left: auto;
    margin-right: auto;

}

#card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
    transition: 0.3s;
    font-size: 2em;
    background-color: rgb(247, 210, 0);
    width: 7em;
    height: 7em;
    text-align: center;
    display:block;
	margin-left: auto;
    margin-right: auto;
    margin-top: 4em;
    border-radius: 20%;
}

/* On mouse-over, add a deeper shadow */
#card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}

/* Add some padding inside the card container */
#container {
    padding: 2px 16px;
}

#delete {
	display:block;
	margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}